/* styles.css */
:root{
    --primary: #36393f;
    --blurple: #7289da;
    --tertiary: #2f3136;
    --text: #ffffff;
    --text2:rgb(204, 204, 204);
    --accent: #43454b;
    --accent2: #383a3e;
    --accent3: #242528;
    --link: rgb(0, 149, 255);
}

@font-face {
    font-family: Discord;
    src: url(fonts/Discord.otf);
  }

@font-face {
    font-family: Whitney400;
    src: url(fonts/Whitney400.woff);
  }

@font-face {
    font-family: Whitney600;
    src: url(fonts/Whitney600.woff);
  }
textarea{
  width: 95%;
  height: 90%;

  margin: 40px 25px 25px 10px;
}

body {
    margin: 0;
    background-color: var(--primary);
    color: var(--text);
    font-family: Whitney400;
    font-size: 20px;
  }

  h2{
    font-size: 40px;
  }

  h3{
    font-size: 30px;
  }

  .link{
    color: var(--link);
    text-decoration: none;
    font-family: Whitney600;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: var(--tertiary);
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  li a {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;

    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    font-family: Whitney400;
    color: var(--text2);

    display: block;
    padding: 8px 16px;
    text-decoration: none;
  }

  li p{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;

    font-weight: 700;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    font-family: Whitney600;
    color: var(--text2);
  }

  li a:hover:not(.active) {
    background-color: var(--accent2);
    color: var(--text);
  }

  .active{
    color: var(--text);
    background-color: var(--accent);
  }

  .sidebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: var(--tertiary);
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .logo{
    text-transform: uppercase;
    font-family: Discord;
  }

  .logo .primary{
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;

    color: #7289da;
    font-size: 26px;
  }
  .logo .secondary{
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;

    color: var(--text);
    font-size: 50px;
  }




  .box{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 428px;

    border: var(--blurple);
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
  }

  .box p{
    font-size: 100%;
    line-height: 20px;
  }

  .box .h3{
    font-family: Whitney600;
    line-height: 15px;
    font-size: 30px;
  }

  .disInvite a{
     background-color: #268d41;
     border-radius: 5px;
     float: right;

     font-size: 15px;
     text-decoration: none;
     color: var(--text);
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
  }
  .disInvite h3{
    font-size: 17px;
  }
  .disInvite{
    background-color: var(--tertiary);
    padding: 20px;
    margin: 20px;
    width: 400px;
    border-radius: 10px;
  }

  .disInvite::after {
    content: "";
    clear: both;
    display: table;
  }

  .download p{
    font-size: 17px;
  }
  .download h3{
    font-size: 17px;
  }
  .download a{
    background-color: #92a5b2;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;

     float: right;

     font-size: 15px;
     text-decoration: none;
     color: var(--text);
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-left: 10px;
  }
  .download .source{
    background-color: #79e384;
    border-color: #66bd6f;
  }
  .download .raw{
    background-color: #be79e3;
    border-color: #9d65bb;
  }
  .download{
    background-color: var(--tertiary);

    border-color: var(--accent3);
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;

    padding: 20px;
    margin: 20px;
    width: 400px;
  }
  .games{
    width: 90%;
  }
  .promos img{
    height: 45%;
  }
  label {
    background: darkorchid;
    color: white;
    display: block;
    width: 25px;
    height: 25px;
    padding: 1rem;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
  }
 label textarea {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .hiddenchar div{
    background-color: var(--tertiary);
    padding: 5px;
    margin: 5px;
    width: 120px;
    text-align: center;

    border-radius: 15px;
    border-width:10px;
    border-color: var(--accent3);
    border-style: solid;
  }
  .hiddenchar{
    display: flex;
  }
  .subpage{
    border-radius: 5px;

    color: var(--text);
    text-decoration: none;
  }
  .glitchFix::after {
    content: "";
    clear: both;
    display: table;
  }
  .hiddenchar div p{
    display: flex;
    font-size: 25px;
  }
  textarea {
    resize: none;
  }
/* Add styles here to customize the appearance of your app */
